body {background-image : url("../images/img_tree_tranparent.png");
    background-repeat : no-repeat;
    background-position : right top;}

h1.a {background-color:dodgerblue;}
h1.b {background-color:mediumseagreen;}
h1.c {background-image : url("../images/klematis_big.jpg");
      border : 2px solid violet;
      background-repeat : no-repeat;}
h1.d {background-color:#ff634750;}
h1.e {background-color:#ff6347;}
h1.f {background-color:#ff6347;}

h2{
    margin : 20px 0 0 50px;
    border : solid;
}

div.ba{
    width:320px;
    padding : 10px;
    border : 5px solid gray;
    margin : 0;
}
p.one{
    border-style : solid;
    border-width : 5px;
}
p.four{
    border-bottom : 6px dotted red;
    border-width : thick;
}
p.five{
    border : 2px double red;
    border-radius : 10px;
}
p.seven{
    border : 5px solid red;
    border-width : 2px 10px 4px 20px;
}

p.ten{
    margin: 30px;
    margin-bottom: 6px solid blue;
    border-style: dashed;   
}