*{
    box-sizing: border-box;
}

div.head{
    width : 100%;
    background-color: green;
    border-radius : 6px;
}

h1.head{
    color : white;
    border : 0;
    margin : 0 0 0 15px;
    padding : 0;
}

h1.context{
    margin : 0px;

}

p.head{
    color : white;
    margin : 0 0 0 15px;
    font-size : small;
    padding : 0 0 10px 0;
}

p.context{
    font-weight: bold;
}

select a:link { 
    color: black;
    text-decoration: underline;
}
a:visited {
     color: black; 
     text-decoration: none;
    }
a:hover { 
    color: blue; 
    text-decoration: underline;
}
a:active {
    color: red;
}



div.main{
    width: 100%x;
    height: 750px;
    background-color: white;
    position: relative;
}
div.footer{
    position: relative;
    width : 100%;
    height: 70px;
    background-color: lightgray;
    font-weight: bold;
    font-size : small;
    padding : 10px 0 0 20px;
    color : white;
    
}
div.list{
    position: absolute;    
    width: 100px;
    height: 100px;
    }
div.contain{
    position: absolute;   
    width: 100%-300px;
    height: 100%;
    left: 150px;
    right: 200px;
    }
div.context{
    position: absolute;    
    width: 100%;
}
div.ad{
    background-color: seagreen;
    width : 180px;
    height: 85%;
    color : white;
    font-weight: bold;
    padding : 20px 10px 0 10px;
    position: absolute;
    border-radius: 5px;
    right: 0px;
}
div.side{
    position : absolute;
    top: 550px;
    width:100%;
    background-color: skyblue;
    height: 150px;
    color : white;
    border-radius: 5px;
    font-weight: bold;
    padding : 20px 10px 20px 10px;

}




li{
    list-style-type: none;
    background-color: #ececec;
    border : 1px solid black;
    border-radius: 3px;
    width : 130px;
    padding : 0 5px 0 5px;
    margin: 0 0 3px 0;
    text-decoration:none;
    font-weight: bold;
    height: 25px;
    
}

.select{
    background-color: green;
}

.para a{
    text-decoration:none;
}


table{
    position : absolute;
    top: 230px;
    border-collapse : collapse;
    width:100%;

}

th, thd{
    text-align : left;
    padding : 8px;
    vertical-align : middle;
}

tr:nth-child(even){
    background-color : #f2f2f2;
    height: 35px;
}

tr:nth-child(odd){
    background-color : white;
    height: 35px;
}

th{
    background-color: #4caf50;
    color:white;
}

tr:hover{
    background-color: yellow;
}
